/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html, body{
	margin:0;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
	background: #fff;
}
body a {
	text-decoration:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
font-family: 'Playfair Display', serif;
    font-weight: 400;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
/*-- header --*/
/*--header -top--*/
.social-bnr-agileits{
	float:left;
	margin-left:1em;
}
/*--social-icons--*/
ul.social-icons3 {
    display: block;
    padding: 0;
    margin-top: .55em;
}
.social-icons3 li{
	display:inline-block;
}
.social-icons3 li a{  
    display: block;
    height: 30px;
    width: 30px;
    margin-right: 1em;
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	margin-right: 1em;
	-webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16);
    line-height: 30px;
	color:#fff;
	text-align:center;
}
.social-icons3 li a.fa.fa-facebook.icon-border.facebook{
	 background:#4D669C;
}
.social-icons3 li a.fa.fa-twitter.icon-border.twitter{
	 background:#1da1f2;
}
.social-icons3 li a.fa.fa-google-plus.icon-border.googleplus{
	 background:#d34836;
}
.social-icons3 li a.fa.fa-rss.icon-border.rss{
	 background:#ee802f;
}
.social-icons3 li a:hover{
	text-decoration:none;
	opacity:0.8;
}
.contact-bnr-w3-agile {
    float: right;
}
.contact-bnr-w3-agile ul li {
    list-style: none;
    display: inline-block;
       /*border-left: 1px solid #0066b2;*/
    padding: 13px 20px;
        color: #101010;
	font-size:14px;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-bnr-w3-agile ul li a{
	    color: #101010;
	text-decoration:none;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
	text-transform: lowercase;
	font-size: 15px;
}
.contact-bnr-w3-agile ul li a:hover{
	 color: #0066b2;
	 transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact-bnr-w3-agile ul li i {
       color: #000000;
    font-size: 16px;
    margin-right: 15px;
}

/*-- nav --*/
.w3_navigation {
       background: #fff !important;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#66ccbe;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding: .9em 0 .4em 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#fff;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #666666;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #777;
}
.navbar-brand {
    padding: 0;
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 47px;
    position: relative;
    font-weight: bold;
}
.navbar-brand span {
       color: #66ccbe;
}
p.logo_w3l_agile_caption {
    text-transform: uppercase;
    letter-spacing: 5.7px;
    font-size: 11px;
    color: #c79f07;
    text-shadow: 0px 1px 3px #454a47;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
   background-color: #66ccbe;
}
.navbar-header.navbar-left h1 {
    color:#1c1c1c;
}
/*-- nav-effect --*/
.menu__list {
    position: relative;
    margin: 0.69em 0 0;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: .9em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Iris */
.menu--iris .menu__item {
	margin:0 0.3em;
}
li.menu__item:nth-child(6) {
    margin-right: 0;
}
.menu--iris .menu__link {
	position: relative;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #929292;
}

.menu--iris .menu__item--current .menu__link,.menu__link:hover {
	color:#66ccbe;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border:2px solid #66ccbe;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after,.menu__link:hover::before,.menu__link:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/*-- //nav-effect --*/
/*-- //header --*/
/*-- banner-text --*/ 
.header-w3layouts{
    position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
}
.agileits-banner-info h4 {
    color: #dca44b;
   font-size: 3em;
    letter-spacing: 4px;
    line-height: 0.8;
    font-weight: 800;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(16, 16, 16, 0.57);
	font-family: 'Playfair Display', serif;
	color: #FFFFFF;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 1.5em;
    margin: 10px 0 0;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 700;
}
.agileits-banner-info h3 span {
    background: rgba(0, 0, 0, 0.68);
    padding: 0 36px;
}
.agileits-banner-info {
    text-align: center;
    padding: 7em 2em;
    margin-top: 3em;
}
.agileits-banner-info p {
    color: #f36371;
    font-size: 1em;
    line-height: 1.8em;
    letter-spacing: 11px;
    margin: 1em auto;
    font-weight: 300;
    text-transform: uppercase;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a {
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 25px;
    position: relative;
    display: inline-block;
    background: #01a2a6;
	margin-top: 3em;
    z-index: 9999;
    border: 2px solid #fff;
}
.agileits_w3layouts_more a:focus{
	outline:none;
}
.agileits_w3layouts_more a:hover{
	color:#000;
	border: 2px solid #fff;
	background: #f36371;
}

/*-- //banner-text --*/
/*-- banner-top --*/
.w3layouts-banner-top{
    background: url(../images/11.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.w3layouts-banner-top1{
	background: url(../images/22.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.w3layouts-banner-top2{
	background: url(../images/33.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
}
.w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2{
	min-height: 650px;
}
.w3ls-banner-1{
	background: url(../images/ban_12.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:250px;
}
.w3ls-banner {
    position: relative;
}
.w3ls-banner-1 h3 {
    font-size: 3em;
    text-align: center;
    padding: 2em 0 0 0;
    color: #fff;
	font-weight: 600;
}
.banner-top {
    background: -webkit-linear-gradient(left, #e9e9e9 66%, #f2f2f2 66%);
    background: linear-gradient(90deg, #e9e9e9 66%, #f2f2f2 66%);
}
.contact-bnr-w3-agile {
    background-color: transparent;
}
/*-- //banner-top --*/ 
.w3ls-field {
    width: 19.5%;
    float: left;
}
.w3ls-field:nth-child(1),.w3ls-field:nth-child(2),.w3ls-field:nth-child(3),.w3ls-field:nth-child(4) {
	margin-right:8px;
}
.book-form {
    width: 90%;
    padding: 2em 3em;
    position: absolute;
    bottom: 13em;
    left: 5em;
    background: rgba(0, 0, 0, 0.3);
	 z-index: 999;
	 border: 10px solid #66ccbe;
	 
}
.book-form h6 {
    color: #fff;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 0.8em;
    text-align: center;
	color: #FFFFFF;
    text-shadow: 6px 6px 8px rgba(0,0,0,0.5);
}
.book-form input[type="text"], .book-form input[type="email"] {
    outline: none;
    font-size: 14px;
    color: #fff;
    padding: 11.4px 10px;
    letter-spacing: 1px;
    margin: 0;
    width: 100%;
    border: none;
    -webkit-appearance: none;
    background: rgba(0, 0, 0, 0.3);
    font-family: 'Roboto Condensed', sans-serif;
}
.book-form input[type="submit"]{
	font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
    padding: 11px 10px;
    -webkit-appearance: none;
    text-transform: capitalize;
    transition: .5s all;
    background:#66ccbebd;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Roboto Condensed', sans-serif;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
/*-- /form--*/ 
/*--main-content-ends-here--*/
/*--slider--*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs li:first-child {
  margin-left: 0;
}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.callbacks li {
  position: absolute;
  width: 100%;
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 0;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 10%;
	text-align: center;
}

.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top:55%;
    left: 40px;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 34px;
    width: 34px;
    background: url(../images/left.png) no-repeat 0px 0px;
}
.callbacks_nav.next {
    left: auto;
    background: url(../images/right.png) no-repeat 0px 0px;
    right: -62px;
}
.callbacks_nav.prev {
    left: auto;
    background: url(../images/left.png) no-repeat 0px 0px;
    left: -58px;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display:none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display:block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
  }
.callbacks_tabs {
    list-style: none;
    position: absolute;
    top:78%;
    left: 46.5%;
    padding: 0;
    margin: 0;
    display: block;
    z-index: 99;
}
.slider-top span{
	font-weight:600;
}
.callbacks_tabs li {
    display:inline-block;
    margin: 0px 7px;
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
    content: "\f111";
    font-size: 0;
    font-family: FontAwesome;
    visibility: visible;
    display: block;
    height:10px;
    width:10px;
    display: inline-block;
    background: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}
.callbacks_here a:after{
       background:#face77;
}

/*-- //slider --*/

/*-- banner-bottom --*/

.view-tenth img {
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	width: 100%;
}

.view-tenth .mask {
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.view-tenth img {
	filter: alpha(opacity=1);
	opacity: 1;
}

.view-tenth:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.view {
	float: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 1em 1em 0 1em;
	background: #f5f5f5;
	min-height: 230px;
}

.view .mask,
.view .content {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.view img {
	display: block;
	position: relative;
}

.agile_text_box p {
	line-height: 1.8em;
	width: 89%;
	margin: 0 auto;
	font-size: 0.9em;
	color: #777;
}

.agile_text_box h3 {
	font-size: 1.4em;
	color: #66ccbe;
	line-height: 1.5em;
	margin: 1em 0 .5em;
	font-weight: 600;
	letter-spacing: 1px;
}

.banner_bottom_right_grid {
	padding-right: 0;
}

.wthree_banner_bottom_right_grids:nth-child(2) {
	margin: 1em 0 0;
}

.banner_bottom_left h3 {
	color: #212121;
	font-size: 3em;
	font-weight: 700;
	text-shadow: 2px 2px 2px rgba(189, 187, 187, 0.8);
	-webkit-text-shadow: 2px 2px 2px rgba(189, 187, 187, 0.8);
	-moz-text-shadow: 2px 2px 2px rgba(189, 187, 187, 0.8);
	-o-text-shadow: 2px 2px 2px rgba(189, 187, 187, 0.8);
	-ms-text-shadow: 2px 2px 2px rgba(189, 187, 187, 0.8);
	letter-spacing: 1px;
}

.banner_bottom_left p i {
	color: #66ccbe;
	display: block;
	margin: .5em 0 1em;
	letter-spacing: 6px;
	font-size: 0.9em;
}

.banner_bottom_left {
	text-align: left;
	margin-top: 1em;
}

.banner_bottom_left p {
	line-height: 2em;
	margin-bottom: 3em;
}

.wthree_more1 a,
.wthree_more2 a,
.wthree_more3 a {
	text-align: center;
}

.wthree_more.wthree_more1 {
	padding: 0;
	margin-top: 1em;
}

.wthree_more.wthree_more1 a {
	width: 25%!important;
	margin: 0!important;
}

.banner_bottom_agile_grids {
	margin-top: 4em;
}

.banner_bottom_right_grid i {
	color: #111;
	font-size: 2em;
	margin-top: 1em;
}
/* Shutter In Vertical */

.hvr-shutter-in-vertical {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	background: #2098D1;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-shutter-in-vertical:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #66ccbe;
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-shutter-in-vertical:hover,
.hvr-shutter-in-vertical:focus,
.hvr-shutter-in-vertical:active {
	color: white;
}

.hvr-shutter-in-vertical:hover:before,
.hvr-shutter-in-vertical:focus:before,
.hvr-shutter-in-vertical:active:before {
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
}

.more a {
	padding: 10px 20px;
	background: #66ccbe;
	color: #FFF;
	font-weight: 400;
	border: none;
	outline: none;
	letter-spacing: 1px;
}

.more a:hover {
	background: #000000c7;
	color: #FFF;
}

span.glyphicon.glyphicon-arrow-right {
	margin-left: 5px;
}



/*-- //banner-bottom --*/


/*--copy-right--*/
.copy {
    text-align: center;
    background: #01a2a6;
}
.copy p {
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1em;
}
.copy p a {
    color: #f36371;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copy p a:hover{
	color:#fff;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/

/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 25px;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 32px;
    border: none;
    text-indent: 100%;
    background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
    width: 32px;
    height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- services --*/ 
.services,.team,.clients,.contact,.gallery,.icons,.typo,.banner-bottom{
	padding:4em 0;
}
.w3-heading-all h3{
    font-size: 3em;
    color: #face77;
    font-weight: 500;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
	font-family: 'Playfair Display', serif;
}
.w3-services-middle img {
    width: 100%;
}
.services-icons i {
    font-size: 3em;
    color: #66ccbe;
}
.w3-services-right.w3-services-align {
    margin: 4em 0;
}
.w3-services-left2 h3,.w3-services-right2 h3 {
    color: #323232;
}

/*-- services --*/ 
/*-- team --*/
.team{
	background: url(../images/tm1.jpg)no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
.team h3.title-w3-agile, .contact h3.title-w3-agile{
    color: #fff;
}
.team  h3.title-w3-agile:before, .contact h3.title-w3-agile:before {
    background: #fff;
}
.ch-item img { 
	width:100%;
}
.ch-info h3 {
    color: #fff;
    position: relative;
    letter-spacing: 0px;
    font-size: 1.5em;
    padding: 1em 0 .5em;
    font-weight: bold;
}
.ch-grid {
	margin:0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}
.ch-grid:after {
	clear: both;
}
.team ul.social-icons {
    margin-top: 1em;
}
.team ul.social-icons li {
    display: inline-block;
} 
.team ul.social-icons li a{
    font-size: 1em;
    color: #fff;
    line-height: 1.9em;
    border: 1px solid;
	width: 28px;
    height: 28px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	-o-transition:.5s all;
	-ms-transition:.5s all;
	transition:.5s all;
}
.team ul.social-icons li a:hover {
    color: #fff;
} 
/*-- gallery --*/
h3.title-w3-agile {
    color: #000;
    font-size: 3em;
    letter-spacing: 1px;
    text-align: left;
    position: relative;
    margin-bottom: 1em;
}
h3.title-w3-agile:before {
    content: "";
    width: 59px;
    height: 2px;
    display: block;
    background: #000;
    position: absolute;
    left: 20px;
    bottom: -9px;
}
h3.title-w3-agile:after {
    content: "";
    width: 100px;
    height: 2px;
    display: block;
    background: #ff6b6b;
    position: absolute;
    top: 48px;
}
/*-- imghvr-hinge --*/
.agile-figcaption {
    background: #66ccbe;
    text-align: center;
    padding: 1em 0;
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
    transition: .5s all; 
}
.agile-figcaption:hover {
    background: #face77;
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
    transition: .5s all; 
}
[class^='imghvr-'] > img,
[class*=' imghvr-'] > img {
	vertical-align: top;
	max-width: 100%;
	display: block;
}
[class^='imghvr-'] .agile-figcaption h4 {
    font-size: 1.5em;
    margin-bottom: .3em;
    font-weight: 600;
    color: #42efae;
}
[class^='imghvr-'] .agile-figcaption p{
    line-height: 2em;
    color: #fff;
    letter-spacing: 2px;
}
[class^='imghvr-'] a,
[class*=' imghvr-'] a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.agile-figcaption i.fa.fa-info {
    font-size: 2em;
    color: #fff;
    border: 2px solid black;
    width: 13%;
    padding: 0.1em;
}
/*-- //gallery --*/  
/*-- social-icons --*/
.social-icons {
    margin-top: 0.5em;
}
.social-icons ul li{
	display:inline-block;
	padding: 0 !important;
    margin: 5px !important;
}
ul.top-links li {
    margin-right: 19px;
    display: inline-block;
}
ul.top-links {
      margin-top: 0;
}
ul.top-links li a i.fa {
    color: #fff;
    font-size: 1em;
    line-height: 2.3;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 36px;
    height: 36px;
    border: 2px solid #66ccbe;
}
ul.top-links li a i.fa:hover {
    border: 2px solid #fff;
}
ul.top-links li a i.fa-facebook:hover{
	color:#3b5998;
}
ul.top-links li a i.fa-twitter:hover{
	color:#1da1f2;
}
ul.top-links li a i.fa-linkedin:hover{
	color:#0077b5;
}
ul.top-links li a i.fa-google-plus:hover{
	color:#dd4b39;
}
/*-- //team --*/
/*-- clients --*/
.clients p {
    margin-bottom: 20px;
    color: #6d6d6d;
    letter-spacing: .5px;
    line-height: 26px;
    font-size: 15px;
    padding-left: 2.5em;
}
.clients  p {
    background: url(../images/quote.png) no-repeat 0px 0px;
    background-size: 24px;
}
.clients h4{
	text-align:left;
	font-size:18px;
	color:#000;
	margin:15px 0 10px 0;
}
.clients h5{
	text-align:left;
	font-size:16px;
	color:#999;
    text-transform: capitalize;
}
.wmuSlider {
	position: relative;
	overflow: hidden;
}
div#clients {
    padding-bottom: 6em;
}
/* Default Skin */
.wmuSliderPagination {
	z-index: 2;
    position: absolute;
    left: 50%;
    bottom: 6%;
}
ul.wmuSliderPagination {
	padding:0;
}
.wmuSliderPagination li {
	float: left;
	margin: 0 8px 0 0;
	list-style-type: none;
}
.wmuSliderPagination a {
	display: block;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: #CFCFCF;
	border-radius:50%;
}
.wmuSliderPagination a.wmuActive {
	background: #1cc7d0;
    box-shadow: 0px 0px 10px #3D99DC;
	-webkit-box-shadow: 0px 0px 10px #3D99DC;
	-moz-box-shadow: 0px 0px 10px #3D99DC;
	-o-box-shadow: 0px 0px 10px #3D99DC;
	-ms-box-shadow: 0px 0px 10px #3D99DC;
}
/* Default Skin */
.wmuGallery .wmuGalleryImage {
	margin-bottom: 10px;
}
.banner-wrap {
    padding: 0 0 4em;
}
.c-img img {
    width: 100%;
}
/*-- //wmuslider --*/
/*--// clients--*/
/*-- contact --*/
/*--contact--*/
.contact{
	background:url(../images/con1.jpg) no-repeat center;
	background-size:cover;
 }
 .contact-form {
    padding: 1em 0 0em;
}
.map iframe {
  width: 100%;
  min-height: 350px;
  border: none;
}
.contact-form h5 {
    font-size: 2em;
    color: #fff;
	text-transform:capitalize;
}
.contact-right p {
    font-size: 1em;
    color: #555;
    margin: 1em 0 3em;
	font-weight:500;
}
.address.address-mdl {
    margin: 2em 0;
}
.address p {
    font-size: 1.1em;
    color: #e1e6e9;
    margin-top: 1em;
	font-weight:500;
}
.address p i.glyphicon {
    font-size: 1em;
    color: #face77;
    margin-right: 0.5em;
}
.address p a {
    color: #e1e6e9;
}
.address p a:hover{
    color: #79302a;
}
form.form_w3layouts {
    margin: 2em 0 0;
}
.contact-form input[type="text"],.contact-form input[type="email"] {
    width: 47%;
    color: #fff;
    background: none;
    outline: none;
    font-size: 1em;
    padding: 0.8em;
    border: solid 1px #fff;
    -webkit-appearance: none;
    display: inline-block;
}
input.email {
    margin: 0 0 0 1.7em;
}
.contact-form textarea {
    resize: none;
    width: 100%;
    background: none;
    color:#fff;
    font-size: 1em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #fff;
    min-height: 9em;
    -webkit-appearance: none;
    margin-top: 2em;
}
.contact-form ::-webkit-input-placeholder {
   color: #fff;    
} 
.contact-form :-moz-placeholder { /* Firefox 18- */
   color: #fff; 
} 
.contact-form ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
} 
.contact-form :-ms-input-placeholder {  
   color:#fff;
}
.contact-form input[type="submit"], .contact-form input[type="reset"] {
    border: none;
    outline: none;
    color: #fff;
    padding: .8em 3em;
    font-size: 1em;
    margin: 1em 1em 0 0;
    -webkit-appearance: none;
    background: #66ccbe;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact-form input[type="submit"]:hover, .contact-form input[type="reset"]:hover {
    background: #ffffff;
    color: #00bcd5;
}
.agileits-w3layouts-map iframe {
	width: 100%;
	min-height: 350px;
	border: none;
} 
.w3-contact-pos {
    position: absolute;
}
.contact {
    position: relative;
}
.w3-contact-pos {
    position: absolute;
    left: 31%;
    bottom: 90%;
    background: #66ccbe;
    padding: 2em;
}
.w3-contact-pos h3 {
    font-size: 2em;
    color: #fff;
	text-transform:Capitalize;
}
.w3-contact-pos p {
    color: #fff;
    font-size: 1.2em;
    text-align: center;
}
.contact-head h3 {
    margin-top: 0.3em;
}
/*--//contact--*/
/*-- footer --*/
.footer {
    background: #1d1d1d;
    padding: 3em 0;
	background-color: #323232;
    color: rgba(255, 255, 255, 0.8);
}

.footer h3 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 1em;
    font-weight: 300;
}
.footer-grid li {
    display: block;
    margin-top: 1em;
}
.footer-grid li a {
    font-size: 1em;
    color: #fff;
    display:inline-block;
	text-decoration: none;
	font-weight: 300;
	outline: none;
}
.footer-grid li a:hover {
    margin-left: .5em;
	color: #face77;
}  
.footer-grid li a i.fa {
    margin-right: 0.6em; 
	    color: #66ccbe;
}
.footer-grid.footer-tags {
    padding-left: 4em;
}
.footer-grid.w3social  li a i.fa { 
    width: 20px;
} 
.footer-grid form {
    position: relative;
	margin-top: 1em;
}
.footer-grid p {
    color: #fff; 
    font-weight: 300;
}
.footer-grid input[type="email"] {
    width: 63%;
    padding: 0.8em;
    font-size: 0.9em;
    float: left;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    background: none;
    -webkit-appearance: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
} 
.footer-grid form:hover input[type="email"] {
	border-color:#02e2ff;
} 
.footer-grid input[type="submit"] {
       float: left;
    color: #fff;
    font-size: .9em;
    outline: none;
    padding: 0.8em 1.5em;
    border: 1px solid #66ccbe;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -webkit-appearance: none;
    background: #66ccbe;
    margin-left: 1em;
} 
.footer-grid form:hover input[type="submit"]{
    background-color: #02e2ff;
    border-color: #02e2ff;
} 
.copy-right {
    padding: 2em 0; 
	background: #000;
}
.copy-right p {
    text-align: center;
    color: #fff;
}
.copy-right p a{ 
    color: #66ccbe;
	text-decoration:none;
}
.copy-right p a:hover{ 
    color: #fff; 
}
/*-- //footer --*/
/*-- typography --*/
h3.hdg {
    font-size: 2.5em;
	color:#000 !important;
}
.show-grid [class^=col-] {
    background: #fff;
  text-align: center;
  margin-bottom: 10px;
  line-height: 2em;
  border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
  background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
  color: #555;
  font-size: 0.85em;
  margin-bottom: 1em;
  font-weight: 300;
}
.grid_4{
	background:none;
}
.label {
  font-weight: 300 !important;
  border-radius:4px;
  -webkit-border-radius:4px;
    -o-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 0;
}
.badge-primary {
  background-color: #03a9f4;
}
.badge-success {
  background-color: #8bc34a;
}
.badge-warning {
  background-color: #ffc107;
}
.badge-danger {
  background-color: #e51c23;
}
.grid_3 p{
  line-height: 2em;
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: 300;
}
.bs-docs-example {
  margin: 1em 0;
}
section#tables  p {
 margin-top: 1em;
}
.tab-container .tab-content {
  border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
    -o-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    -ms-border-radius: 0 2px 2px 2px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  font-size: 0.9em;
  color: #555;
  border-top: none !important;
}
.tab-content > .active {
  display: block;
  visibility: visible;
}
.label {
  font-weight: 300 !important;
}
.label {
  padding: 4px 6px;
  border: none;
  text-shadow: none;
}
.nav-tabs {
  margin-bottom: 1em;
}
.alert {
  font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:1.8em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
}
li.list-group-item1 {
  line-height: 2.5em;
}
.input-group {
  margin-bottom: 20px;
  }
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
  margin-bottom: 48px;
}
ol {
  margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:900px){
	h3.hdg {
		font-size: 1.7em;
	}
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:667px){
	.bs-glyphicons li {
		width: 23%!important;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
}
@media (max-width:600px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: 0.5em;
	}
	h3.hdg {
		font-size: 1.5em;
	}
}
@media (max-width:480px){
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 384px){
	h3.hdg {
		font-size: 1.3em;
	}
	.w3-contact-pos {
    left: 2%;
   }
}
@media (max-width: 375px){
.w3-services-right.w3-services-align {
    margin: 2em 0;
}
.client-grids {
    width: 100%;
    float: none;
    margin: 0 auto 2em;
}
.w3-contact-pos {
    bottom: 96%;
}
.wmuSliderPagination {
    bottom: 1%;
}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 12px!important;
	}
	.codes .row {
		margin: 0;
	}
}


.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #212121;
    font-weight: bold;
}
/*-- //typography --*/
/*-- icons --*/
.icon-w3layouts-subheading{
    margin-top: 0!important;
}
.icon-box {
    padding: 8px 15px;
    background: rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background: rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons li .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #282a2b;
}
.icons a {
    color: #999;
}
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.icon-box:hover {
    background: #000;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.icon-box:hover a.agile-icon {
    color: #fff !important;
}
.icon-box:hover i.fa {
    color: #fff !important;
}
.row {
	margin:0
}
@media (max-width: 1080px){
	.icon-box {
		width: 33.3%;
		float: left;
	}
}
@media (max-width: 991px){
	.icon-box {
		width: 50%;
		float: left;
		margin: 1em 0 0em 0;
	}
}
@media (max-width: 480px){
	.icon-box {
		width: 100%;
		float: none;
		margin: .5em 0 0em 0;
	}
	.bs-glyphicons li {
		width: 31.3%!important;
	}
	
}
@media (max-width: 414px){
	.bs-glyphicons li {
		width: 48%!important;
	}
}
/*-- //icons --*/
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color:  #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color:  #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color:  #fff;
}
/*-- /responsive design --*/
@media(max-width:1440px){
.w3ls-field {
    width: 19.2%;
    float: left;
}
}
@media(max-width:1366px){
}
@media(max-width:1280px){
.book-form {
    left: 4em;
}
.w3-contact-pos {
    left: 26%;
}
}
@media(max-width:1080px){
.book-form {
    left: 3em;
}
.footer-grid input[type="email"] {
    width: 57%;
}
.w3-contact-pos {
    left: 26%;
}
}
@media(max-width:1024px){
.w3ls-field {
    width: 19%;
}
.w3-contact-pos {
    left: 21%;
}
}
@media(max-width:991px){
.navbar-brand {
    letter-spacing: 1px;
}
.agileits-banner-info h4 {
    font-size: 2.8em;
    letter-spacing: 0.5px;
}
.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
    min-height: 450px;
}
.book-form {
    left: 3em;
    bottom: 5em;
}
.agileits-banner-info {
    margin-top: 0em;
}
.callbacks_tabs {
    top: 84%;
    left: 44.5%;
}
.w3-services-right2 {
    width: 40%;
    float: left;
}
.w3-services-right1.services-icons {
    width: 10%;
    float: left;
}
.ch-info h3 {
    font-size: 1.4em;
}
.client-grids {
    width: 33.33%;
    float: left;
}
.w3-contact-pos {
    left: 21%;
    bottom: 94%;
}
.contact-left {
    width: 40%;
    float: left;
}
.contact-right {
    width: 60%;
    float: left;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
    width: 46%;
}
.footer-grid {
    width: 50%;
    float: left;
	margin-bottom: 2em;
}
.w3social {
    padding-left: 4em;
}
.c-img img {
    width: 57%;
}
.navbar-nav > li > a {
    padding: 0 0.5em;
}
.navbar-brand {
    font-size: 29px;
    line-height: 44px;
}
.banner_bottom_right {
    width: 59%;
    margin: 2em auto 0;
}
.banner_bottom_right_grid {
    width: 50%;
    float: left;
	margin-bottom:2em;
}
.w3-services-right {
    width: 50%;
    margin: 0 auto;
}
.w3-services-right1.services-icons {
    width: 22%;
}
.w3-services-right2 {
    width:75%;
}
.w3-services-right {
    width: 63%;
}
.w3-services-middle img {
    width: 40%;
}
.w3-services-middle {
    margin-left: 9em;
}
.w3-services-left {
    width: 63%;
    margin: 0 auto;
}
.w3-services-left1.services-icons {
    width: 22%;
	float: left;
}
.w3-services-left2 {
    width: 75%;
	float: left;
}
.w3-services-left3.services-icons {
    float: left;
	  width: 22%;
}
.services-icons i {
    font-size: 2.5em;
    color: #66ccbe;
}

}
@media(max-width:800px){
.w3ls-field {
    width: 48.5%;
    margin: 0.5em 0;
}
.book-form {
    width: 90%;
    padding: 0.2em 1em;
}
.agileits-banner-info {
    padding: 4em 2em;
  
}
.book-form input[type="submit"] {
    width: 65%;
}
.book-form {
    border: 5px solid #66ccbe;
}
.w3-contact-pos {
    left: 13%;
    bottom: 94%;
}
}
@media(max-width:768px){
.w3-heading-all h3 {
    font-size: 2.5em;
}
.w3-contact-pos {
    bottom: 90%;
}
.book-form {
    left: 2em;
}
}
@media(max-width:767px){
div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    z-index: 99;
}
ul.nav.navbar-nav.menu__list {
    background: #000000d4;
}
.navbar-default .navbar-nav > li > a {
    padding: 1em;
}
.navbar-default .navbar-nav > li > a {
    color: #ffff;
}
.book-form {
    z-index: 9;
}
.nav > li {
    width: 31%;
    margin: 0 auto!important;
}
}
@media(max-width:736px){
.agileits-banner-info h4 {
    font-size: 2.5em;
    letter-spacing: 0.5px;
}
.social-icons ul li {
    margin: 3px !important;
}
.ch-info h3 {
    font-size: 1.3em;
}
.w3-contact-pos {
    left: 9%;
}
.w3-contact-pos {
    left: 12%;
}
.w3-services-right {
    width: 75%;
}
.w3-services-left {
    width: 75%;
}
}
@media(max-width:684px){
.ch-grid-item {
    width: 50%;
    margin: 0 0 2em 0;
	}
	.contact-form input[type="text"], .contact-form input[type="email"] {
    width: 100%;
    margin: 1em 0em;
   }
	
}
@media(max-width:667px){
.agileits-banner-info h4 {
    font-size: 2.3em;
    letter-spacing: 0.5px;
}
.social-icons ul li {
    margin: 1px !important;
}
.ch-info h3 {
    font-size: 1.2em;
}
.w3-contact-pos {
    left: 6%;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
    width: 80%;
	margin-top: 1em;
}
input.email {
    margin: 0;
}
.footer-grid input[type="email"] {
    width: 90%;
}
.footer-grid input[type="submit"] {
    float: none;
}
.footer-grid input[type="submit"] {
    float: none;
    margin-left: 4em;
    margin-top: 1em;
}
}
@media(max-width:640px){
.w3ls-field {
    width: 47.5%;
}
.agileits-banner-info h4 {
    font-size: 2.2em;
}
.ch-grid-item {
    width: 50%;
    float: left;
}
.ch-grid-item {
    width: 50%;
    float: left;
    margin-bottom: 2em;
}
.contact-form input[type="submit"], .contact-form input[type="reset"] {
    color: #fff;
    padding: .8em 2em;
	}
	.w3-contact-pos {
    left: 4%;
    }
	.w3-contact-pos {
    left: 6%;
    }
	.w3-heading-all h3 {
    font-size: 2em;
    }
	.w3-contact-pos h3 {
    font-size: 1.5em;
   }
   .w3-contact-pos {
    left: 12%;
   }
   .contact-form h5 {
    font-size: 1.5em;
   }
   .client-grids {
    width: 100%;
    float: none;
    margin: 0 0 2em 0;
   }
}
@media(max-width:600px){
.contact-bnr-w3-agile ul li {
    padding: 13px 8px;
}
.clients p {
    padding-left: 2em;
}
.w3-contact-pos h3 {
    font-size: 1.5em;
}
.w3-contact-pos {
    left: 11%;
    padding: 1.8em;
}
.w3-contact-pos p {
    font-size: 1em;
    text-align: center;
}
.agileits-banner-info h4 {
    font-size: 2em;
}
.contact-left {
    width: 50%;
    float: none;
    margin: 0 auto;
}
.w3-contact-pos {
    left: 11%;
    padding: 1.8em;
    bottom: 95%;
}
.contact-right {
    width: 100%;
    float: none;
}
.contact-left {
    width: 50%;
    float: none;
    margin: 0px auto 2em;
}
.contact-form h5 {
    font-size: 1.5em;
}
.contact-form input[type="text"], .contact-form input[type="email"] {
    width: 100%;
}
.footer h3 {
    font-size: 1.5em;
}
}
@media(max-width:568px){
.agileits-banner-info h4 {
    font-size: 1.8em;
}
.contact-form textarea {
    margin-top: 1em;
}
.nav > li {
    width: 50%;
    margin: 0 auto!important;
}
form.form_w3layouts {
    margin: 1em 0 0;
}
}
@media(max-width:480px){
.agileits-banner-info h4 {
    font-size: 1.5em;
}
.client-grids {
    width: 80%;
    float: none;
    margin: 0 auto 2em;
}
.w3-contact-pos {
    left: 3%;
}
.contact-left {
    width: 80%;
    float: none;
    margin: 0px auto 2em;
}
.footer-grid input[type="submit"] {
    margin-left: 2em;
}
.social-bnr-agileits {
    float: none;
    text-align: center;
}
.contact-bnr-w3-agile {
    float: none;
    text-align: center;
}
.w3-heading-all h3 {
    font-size: 2em;
}
h2.title-w3-agileits.one {
    font-size: 26px;
    }
	.w3-services-right {
    width: 95%;
   }
   .w3-services-left {
    width: 95%;
    }
	.w3-services-middle img {
    width: 75%;
     }
	 .w3ls-banner-1 h3 {
    font-size: 2em;
    padding: 3em 0 0 0;
}
}
@media(max-width:414px){
.book-form {
    position: static;
}
.w3ls-field {
    width: 100%;
}
.book-form {
    width: 100%;
}
.agileits-banner-info {
    padding: 13em 2em;
}
.agileits-banner-info h4 {
    line-height: 1.8em;
}
.callbacks_tabs {
    left: 36%;
}
.agileits-banner-info {
    padding: 11em 2em;
}
.footer-grid {
    width: 100%;
}
.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
    min-height: 403px;
}
.w3-contact-pos h3 {
    font-size: 1em;
}
.w3-contact-pos p {
    font-size: 0.9em;
}
.banner_bottom_right_grid {
    width: 100%;
    float: none;
}
h2.title-w3-agileits.one {
    font-size: 22px;
}
.services, .team, .clients, .contact, .gallery, .icons, .typo, .banner-bottom {
    padding: 2em 0;
}
.w3ls-banner-1 h3 {
    font-size: 2em;
    padding: 3em 0 0 0;
}
.w3-contact-pos {
    left: 5%;
    bottom: 99%;
}
}
@media(max-width:384px){
.w3-contact-pos h3 {
    font-size: 1.2em;
}
.w3-contact-pos p {
    font-size: 0.9em;
    text-align: center;
}
.w3-contact-pos {
    padding: 1.5em;
}
.w3gallery-grids {
    width: 100%;
    margin: 1em 0;
}
.contact-form h5 {
    font-size: 1.3em;
}
}
@media(max-width:375px){
.w3-contact-pos {
    padding: 1.5em;
}
.w3-contact-pos h3 {
    font-size: 1em;
}
.banner-wrap {
    padding: 0 0 0em;
}
.w3-contact-pos {
    left: 2%;
}
}
@media(max-width:320px){
.social-bnr-agileits {
    float: none;
    text-align: center;
}
.contact-bnr-w3-agile {
    float: none;
    text-align: center;
}
.navbar-brand {
    font-size: 25px;
}
.agileits-banner-info {
    padding: 10em 0em;
}
.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2 {
    min-height: 362px;
}
.nav > li {
    width: 60%;
    margin: 0 auto!important;
}
h2.title-w3-agileits.one {
    font-size: 19px;
    line-height: 1.8em;
}
.ch-grid-item {
    width: 80%;
    float: none;
    margin: 0 auto 2em;
	}
	.client-grids {
    width: 100%;
}
.contact-left {
    width: 100%;
    float: none;
}
.w3-contact-pos {
    left: 0%;
}
.w3-contact-pos {
    padding: 1.3em;
}
.w3-services-right {
    width: 100%;
}
.w3-services-left {
    width: 100%;
}
.services-icons i {
    font-size: 2em;
}
.w3-services-left2 h3, .w3-services-right2 h3 {
    font-size: 20px;
}
.w3-heading-all h3 {
    font-size: 1.8em;
}
.w3-services-middle img {
    width: 100%;
}
.w3-services-middle {
    margin-left: 5em;
}
.w3-services-left3 h3 {
    font-size: 1.3em;
}
.w3-heading-all h3 {
    font-size: 1.7em;
}
}
/*-- /responsive design --*/